Source: movai-ignition-sensors6
Maintainer: Mariana Alves<mariana.alves@mov.ai>
Section: unknown
Priority: optional
Build-Depends: unzip, debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: movai-ignition-sensors6
Architecture: all
Depends: ${misc:Depends}
Description: Provides a set of sensors models that can be configured at run time to mimic specific real-world sensors. 